.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}
.btn-success{
    background-color: rgb(50, 216, 35);
}
.btn-warning{
    padding: 10px;
    background-color: rgb(243, 47, 12);
}
.btn-add{
    padding: 10px;
    background-color: rgb(10, 66, 63);
}